{% extends 'base.html' %}

{% block navbar %}
  {% include '_form.html' %}
{% endblock %}

{% block content %}
  <div class="row">
    {% for book in books %}
      <div class="col-md-4 mt-3">
        {% if book.image %}
          <a href="{{ book.link }}" target="_blank">
            <img src="{{ book.image }}" class="img-thumbnail" alt="book's cover image">
          </a>
        {% else %}
          <a href="{{ book.link }}">
            <img src="https://via.placeholder.com/120" alt="no image placeholder">
          </a>
        {% endif %}
      </div>
      <div class="col-md-8 mt-3">
        <a href="{{ book.link }}" target="_blank">
          <h5>{{ book.title }}</h5>
        </a>
        <h1>{{ book.display_price }} &euro;	</h1>
        <div class="d-inline">
          {% for author in book.by %}
           {{ author }}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}